.cart-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  z-index: 9999;
}

.cart-overlay.show {
  visibility: visible;
  opacity: 1;
}

.cart-sidebar {
  position: absolute;
  right: -350px;
  top: 0;
  width: 350px;
  height: 100%;
  background: #111;
  border-left: 2px solid red;
  padding: 20px;
  transition: 0.3s;
  box-shadow: -5px 0 25px rgba(255, 0, 0, 0.3);
}

.cart-overlay.show .cart-sidebar {
  right: 0;
}

.cart-sidebar h2 {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.empty-cart {
  color: #ddd;
  text-align: center;
  margin-top: 40px;
}

.cart-items {
  max-height: 65%;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  background: #181818;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid rgba(255,0,0,0.25);
}

.cart-item img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  margin-right: 12px;
}

.cart-item h4 {
  color: white;
  margin: 0;
}

.cart-item p {
  color: #ccc;
  margin: 0;
}

.remove-btn {
  margin-left: auto;
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.clear-btn {
  width: 100%;
  padding: 12px;
  background: red;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
}

.close-cart {
  width: 100%;
  padding: 10px;
  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
