.clothes {
    background-image: url('../assets/clothes-bg.png');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e0e0e0;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    margin: 0;
}
.clothes::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.3) 10%,
            rgba(0, 0, 0, 0.7) 100%);
    z-index: 0;
}
.clothes * {
    position: relative;
    z-index: 1;
}

.clothes h1 {
    color: #ff0000;
    font-size: 3rem;
    margin-bottom: 20px;
}