.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    z-index: 10;
    position: relative;
}

.contact h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.contact p {
    font-size: 1.1rem;
    color: #f9f9f9;
}