/* ===== FOOTER BASE ===== */
.footer {
    background-color: #020202;
    color: #fff;
    text-align: center;
    padding: 25px 10px;
    width: 100%;
    margin-top: auto;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
}

/* ===== LINKS ===== */
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ff0000;
}

/* ===== TEXT ===== */
.footer p {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #ccc;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 700px) {
    .footer-links {
        flex-direction:row;
        gap: 10px;
    }
}