.footer {
    background-color: #020202;
    color: white;
    margin-top: auto;
    position: relative;
    width: 100%;
    margin-top:45%;
    bottom: 0;
}

.footer-links a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
}

.footer-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-links a:hover {
    text-decoration: underline;
    color: lightgrey;
}

.footer p {
    margin-top: 15px;
    font-size: 14px;
}

@media (max-width: 700spx) {
    .footer {
        padding: 15px 0;
    }

    .footer img {
        width: 50px;
        height: 50px;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
    }
}