.footer {
    width: 100%;
    background: #111;
    color: #e5e5e5;
    padding: 3rem 4rem;
    box-sizing: border-box;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.footer-about {
    grid-column: span 1;
    max-width: 350px;
}

.footer-logo {
    font-size: 1.7rem;
    color: white;
    margin-bottom: 1rem;
}

.footer-about p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.footer-col h3 {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 2px;
}

.footer-col a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin: 0.4rem 0;
    transition: 0.2s;
}

.footer-col a:hover {
    color: #fff;
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
    font-size: 1.4rem;
}

.footer-socials svg {
    cursor: pointer;
    transition: 0.3s;
}

.footer-socials svg:hover {
    color: #ff0000;
}

.footer-bottom {
    text-align: center;
    margin-top: 3rem;
    font-size: 0.9rem;
    color: #aaa;
    border-top: 1px solid #333;
    padding-top: 1rem;
}

.logo-img-footer {
  height: 100px;
  width: auto;
  transition: transform 0.3s ease;
}

/* Responsive */
@media (max-width: 900px) {
    .footer-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .footer-grid {
        grid-template-columns: 1fr;
    }

    .footer {
        padding: 2rem;
    }
}