.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  gap: 15px;
  
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  text-decoration: underline;
  color: lightgrey;
}

.mobile-menu-icon {
  display: none;
  background: none;
  border: none;
  color: white;
}

.close-menu-icon {
  background: none;
  border: none;
  color: white;
  text-align: right;
}

@media (max-width: 992px) {

  .logo {
    width: 40px;
    height: 40px;
    background-image: url("../assets/logo.png");
  }

  .nav-links {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: #191838;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s;
  }

  .nav-links.closed {
    right: -200px;
  }

  .nav-links.opened {
    right: 0px;
  }

  .navbar.expand {
    overflow: visible;
  }

  .mobile-menu-icon {
    display: block;
  }
}