.supplements {
    background-image: url('../assets/supplements.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    z-index: 10;
    position: relative;
}
.supplements::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.supplements h1 {
    color: #ff0000;
    font-size: 3rem;
    margin-bottom: 20px;
}