/* ==== Global Reset ==== */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  background-color: #000;
  /* site theme */
}

/* ==== Layout ==== */
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right,
      rgba(23, 22, 22, 0.87),
      rgba(184, 26, 26, 0.83));
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ==== Header & Logo ==== */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ==== Links ==== */
.App-link {
  color: #61dafb;
  text-decoration: none;
}

/* ==== Animations ==== */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}