html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;         
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}


* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;             
  background: linear-gradient(
    to right,
    rgba(23, 22, 22, 0.87),
    rgba(184, 26, 26, 0.83)
  );
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;          
}

.App-logo,
.App-header,
.App-link {
  display: none !important;
}
